<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyTracking</key>
	<false/>
	<key>NSPrivacyTrackingDomains</key>
	<string>&lt;key&gt;NSCameraUsageDescription&lt;/key&gt;
&lt;string&gt;We need access to the camera to take pictures.&lt;/string&gt;
&lt;key&gt;NSMicrophoneUsageDescription&lt;/key&gt;
&lt;string&gt;We need access to the microphone for video recording.&lt;/string&gt;
</string>
</dict>
</plist>
